.about {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 10rem;
  color: white;
}

.image {
  z-index: 2;
  flex: 1;
  overflow: hidden;
}

.description {
  flex: 1;
  padding-right: 5rem;
  z-index: 2;
}

.desc_heading {
  font-weight: lighter;
}

.fancyText {
  font-size: 4rem;
}
